@font-face {
  font-family: 'Montserrat-BlackItalic';
  src: url('../public/fonts/Montserrat-BlackItalic.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../public/fonts/Montserrat-Black.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('../public/fonts/Cafe24SsurroundAir.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
}
