@font-face {
  font-family: 'Montserrat-BlackItalic';
  src: url('../public/fonts/Montserrat-BlackItalic.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../public/fonts/Montserrat-Black.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('../public/fonts/Cafe24SsurroundAir.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
}

.transition-group{
  position: relative;
  width: 100%;
  height: 100%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 1s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 1s ease-in;
}